DELETE USER

<form action="DeleteUserSQL.php" method="POST"  />
<p>E-mail: <input type="text" name="Email" /></p>
<input type="submit" value="Submit" />
</form>


<br>
<form action="index.html">
    <input type="submit" value="Go to homepage" />
</form>