WELCOME TO MY WEBPAGE

<br>
<br>
<br>


<a href="AddNewUserForm.html">Create a new user</a> <br>
<a href="RetrieveUserForm.html">Retrieve info about a user</a> <br>
<a href="DeleteUserForm.html">Delete an existing user</a><br>
<a href="UpdateUserForm.html">Update info about an existing user </a><br>