﻿UPDATE EXISTING USER

<form action="UpdateUserSQL.php" method="POST"  />
E-mail: <input type="text" name="Email" /><br>
Address: <input type="text" name="Address" /><br>
First Name: <input type="text" name="FirstName" /><br>
Last Name: <input type="text" name="LastName" /><br>
Phone: <input type="text" name="Phone" /><br>
<input type="submit" value="Submit" />
</form>


<br>
<form action="index.html">
    <input type="submit" value="Go to homepage" />
</form>







